body, h1, h2, h3, h4, h5, ul {margin: 0; padding: 0}
body li{list-style: none;}
a{text-decoration: none;}
body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	position: relative;
	background: white;
}
html, body {
	height: 100%;
}
h1, h2, h3, h4 {
	font-weight: 300;
}
body a{
	color: rgba(35, 31, 32, 0.58);
}
.clear {
	clear: both;
}
header {
	width: 100%;
	position: relative;
}
.header-wrapper	{
	background-color: #231f20;
	height: 86px;
}
.inner-wrapper {
	width: 1080px;
	margin: auto;
}
.top-header {
	background: none repeat scroll 0 0 #231f20;
	height: 64px;
	padding-top: 22px
}
.logo {
	float: left;
	width: 25%;
}
nav li{
	display:inline;
}
nav a{
	color: #ffffff;
}
nav {
	float: right;
	width: 50%;
}
nav li{
	float: right;
	margin: 10px 20px;
}
nav a:hover {
	border-bottom: 2px solid #f26522;
	padding-bottom: 5px;
}
.banner-container {
	width: 100%;
	min-width: 1080px;
	min-height: 374px;
}
.banner-container img {
	width: 100%;
}


footer {
	width: 100%;
	height: 50px;
	background-color: #231f20;
	clear: both;
	text-align: center;
	padding: 10px 0;
}

footer p {
	color: #ffffff;
	font-size: 12px;
	margin:0 0 5px 0;
}

.login-container {
	margin: 100px auto 60px auto;
	width: 325px;
	padding:20px;
	border: 2px solid #ccc;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.login-container input, .popular-posts input, .contactus input {
	width: 300px;
	height: 25px;
	padding: 5px;
	margin-top: 15px;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

textarea {
	width: 625px;
	max-width: 625px;
	height: 80px;
	max-height: 80px;
	padding: 5px;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-top: 15px;
}

.submit-button {
	padding: 10px 40px;
    background-color: #f26622;
    font-weight: 700;
    color: #0b1016;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.sign-up-link {
	margin-left: 10px;
	text-decoration: underline;
}

.login-page footer {
	position: absolute;
	bottom: 0;
}

.blog-container {
	margin: 0 auto;
	width: 1080px;
} 

article {
	width: 754px;
	height: auto;
	float: left;
	padding: 20px;
}

aside {
	width: 280px;
	height: auto;
	float: left;
	padding: 20px 0;
}

.blog-post span, .popular-posts span {
	color: #808080;
	font-size: 12px;
}

.blog-post span {
	display: block;
	margin: 2px 0 10px 2px;
}

.blog-post img, .blog-post iframe  {
	margin-top: 10px;
	width: 680px;
}

.blog-post p {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 10px;
}

.read-more {
	font-size: 14px;
	color: #f26622;
}

.sidebar-post, .post-desc {
	margin-bottom: 20px;
}

.popular-posts input {
	height: 20px;
	width: 280px;
}

.popular-posts h3 {
	color: #f26622;
	margin: 10px 0;
	font-size: 16px;
}

.popular-posts img {
	width: 280px;
}

.popular-posts a {
	font-size: 14px;
	padding-top: 5px;
	color: #231f20;
}

section {
	margin: 0 auto;
	padding: 20px;
}


.client-info {
	width: 1080px;
	margin: 0 auto;
}

.client-info th, .client-info td, .client-info li {
	border: 1px solid #f26622;
	padding: 5px 10px; 
}

.client-info td, .client-data li {
	border-top: none; 
	border-color: #cccccc;
	padding-top: 10px;
}

.client-info, .client-data{
	clear: both;
}

.client-info li {
	display: table-cell;
	width: 194px;
}

.client-data li {
	display: table-cell;
}

.contactus {
	margin: 0 auto;
	width: 650px;
	height: auto;
	padding: 20px; 
}

.contactus input {
	margin: 10px 10px 0 0;
}

/*Advanced blog template css*/
.blog-header {
	position: fixed;
	z-index: 1000;
}

.blog-template-container {
	position: relative;
	width: 590px;
	height: 790px;
	margin: 0 auto;
	top: 120px;
	z-index: -1
}

.blog-template-container h1 {
	font-size: 24px;
	padding-bottom: 15px;
}

.blog-nav-sidebar {
	width: 100px;
	position: absolute;
	background-color: #4C5F77;
	color: #ffffff;
	padding: 20px;
}

.blog-nav-sidebar a {
	color: #ffffff;
}

.blog-nav-sidebar li {
	padding-bottom: 15px;
}

.blog-thumbnail {
	width: 405px;
	background-color: #cccccc;
	height: auto;
	padding: 20px 0 0 20px;
	position: absolute;
	left: 160px;
}

.blog-footer {
	position: fixed;
	bottom: 0;
}

.thumbnail-row img {
	width: 180px;
	height: 180px;
}

.overlay {
	background-color: #000000;
	opacity: .5;
}

.thumb {
	width: 180px;
	height: 180px;
	position: relative;
	float: left;
	margin:0 20px 20px 0
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 180px;
	width: 180px;
	z-index: 9999;
}
