body, h1, h2, h3, h4, h5, ul {margin: 0; padding: 0}
body li{list-style: none;}
a{text-decoration: none;}
body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	position: relative;
	background: white;
}
html, body {
	height: 100%;
}
h2, h3, h4 {
	font-weight: 300;
}
body a{
	color: rgba(35, 31, 32, 0.58);
}
.clear {
	clear: both;
}
header {
	width: 100%;
	position: relative;
}
.header-wrapper	{
	background-color: #231f20;
	height: 86px;
}
.inner-wrapper {
	width: 1080px;
	margin: auto;
}
.top-header {
	background: none repeat scroll 0 0 #231f20;
	height: 64px;
	padding-top: 22px
}
.logo {
	float: left;
	width: 25%;
}
.nav li{
	display:inline;
}
.nav a{
	color: #ffffff;
}
.top-nav {
	float: right;
	width: 50%;
}
.top-nav li{
	float: right;
	margin: 10px 20px;
}
.top-nav a:hover {
	border-bottom: 2px solid #f26522;
	padding-bottom: 5px;
}
.banner-container {
	width: 100%;
	min-width: 1080px;
	min-height: 374px;
	background: #376c90 url("../images/banner.jpg") no-repeat;
	background-size: cover;
}
.listing {
	width: 100%;
	height: 435px;
	padding-bottom: 30px;
	background-color: #f0efef;
}
.listing-title {
	padding: 30px;
	text-align: center;
}
.listing-title h2 {
	font-size: 30px;
	font-weight: 300;
}
.listing-categories {
	width: 1080px;
	height: 200px;
	margin: 0 auto;
}

.rental, .sales, .retail {
	width: 360px;
	float: left;
	text-align: center;
}

.listing-categories h3 {
	font-weight: 300;
	padding-top: 10px;
}

footer {
	width: 100%;
	height: 40px;
	background-color: #231f20;
}

.login-container {
	margin: 100px auto 60px auto;
	width: 325px;
	padding:20px;
	border: 2px solid #ccc;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.login-container input {
	width: 300px;
	height: 25px;
	padding: 5px;
	margin-top: 15px;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.submit-button {
	padding: 10px 40px;
    background-color: #f26622;
    font-weight: 700;
    color: #0b1016;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.sign-up-link {
	margin-left: 10px;
	text-decoration: underline;
}

.login-page footer {
	position: absolute;
	bottom: 0;
}